In [ ]:
from notion_client import Client

In [12]:
# ---
notion = Client(auth="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")

In [13]:
# Use `search` with filter type 'page' and later check for object == 'database'
results = notion.search(
    filter={"value": "page", "property": "object"},
    page_size=100
)

In [14]:
# Extract only database objects
databases = [res for res in results["results"] if res["object"] == "database"]

db_list = []
for db in databases:
    title = db["title"][0]["plain_text"] if db.get("title") else "Untitled"
    db_list.append({"Name": title, "Database ID": db["id"]})

In [15]:
df = pd.DataFrame(db_list)
display(df)

Empty DataFrame
Columns: []
Index: []

In [16]:
results = notion.search(page_size=10)
for r in results["results"]:
    print(r["object"], "-", r.get("id"))

page - 2a683b71-d8f3-817e-9bb4-c101b73fec25
page - 26283b71-d8f3-80a7-a59e-c9f7885c0310
page - 1b883b71-d8f3-80d7-a0a9-d289ee7bc729
page - 1b883b71-d8f3-8079-9991-f4ed1721d6e5
page - 1a383b71-d8f3-81cc-9dc7-e2a766cf5e05
page - 1a383b71-d8f3-81fb-a094-fc22ef529eb2
page - 1a383b71-d8f3-81ce-86af-c11ec165b309
page - 1a383b71-d8f3-816d-81dc-f1a7dc0fd635
data_source - 1a383b71-d8f3-81f6-be6a-000b6f1edd55
page - 1a383b71-d8f3-81c4-af26-cb15d32cfce9